<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="style/default.css" type="text/css"/>
    </head> 
    <body>
        <div class="body">
        <div><a href="Homepage.html">Return to homepage</a></div>
        <h1>Error</h1>
        <p>The system encountered the following error while handling your request:</p>
        <p><b>${error!"Unknown error"}</b></p>
        </div>
    </body>
</html>